* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


/* section1 */

.section1 {
    padding: 10px 0 0 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
  background-color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* left */
.nav-left {
    flex: 1;
    text-align: left;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

/* center */
.nav-center {
    flex: 1;
    text-align: center;
}

.brand {
    font-size:40px;
    font-weight: bold;
    text-decoration: none;
    color: #5C6F2B;
    font-family: 'Eric ITC';
}
.brand:hover {
    color: black;
}

/* right */
.nav-right {
    flex: 1;
    text-align: right;
}

.order {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

/* section2 */
.section2 {
    background-image: url('../image/hero\ image.avif');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    object-fit: contain;
}

.section2 .header {
    margin-left: 400px;
    margin-top: 10px;
}

.section2 .header .col h6 {
    font-size: 14px;
    color: #D8C9A7;
    position: relative;
    top: 20px;
    left: 10px;
}

.section2 .header .col button {
    padding: 7px;
    border-radius: 90%;
    background-color: #DE802B;
    border: none;
    position: relative;
    left: 290px;
    transition: 0.4 ease;
}

.section2 .header .col button:hover {
    background-color: transparent;
    border: 2px black solid;
}

.section2 .Header1 {
    position: absolute;
    top: 280px;
    left: 70px;

}

.section2 .Header1 h6 {
    color: #D8C9A7;
}

.section2 .Header1 h1 {
    font-size: 70px;
    color: #5C6F2B;
    font-family: 'Bell MT';
}

.section2 .Header1 button {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #DE802B;
    color: white;
    border-radius: 20px;
    transition: 0.2s;
    width: 150px;
}

.section2 .Header1 button:hover {
    background-color: #5C6F2B;
}

/* =========================
   RESPONSIVE – TABLET
========================= */
@media (max-width: 992px) {

    .section2 {
        height: 450px;
    }

    .section2 .header {
        margin-left: 0;
        padding: 0 20px;
    }

    .section2 .header .col button {
        left: 0;
        margin-left: 10px;
    }

    .section2 .Header1 {
        top: 240px;
        left: 40px;
    }

    .section2 .Header1 h1 {
        font-size: 50px;
    }
}


/* =========================
   RESPONSIVE – MOBILE
========================= */
@media (max-width: 576px) {

    .section2 {
        height: 420px;
    }

    .section2 .header {
        margin-left: 0;
        padding: 0 15px;
    }

    .section2 .header .row {
        display: flex;
        align-items: center;
    }

    .section2 .header .col h6 {
        font-size: 12px;
        top: 0;
        left: 0;
    }

    .section2 .header .col button {
        left: 0;
        padding: 6px;
    }

    .section2 .Header1 {
        position: static;
        margin-top: 150px;
        text-align: center;
    }

    .section2 .Header1 h6 {
        font-size: 12px;
    }

    .section2 .Header1 h1 {
        font-size: 36px;
    }

    .section2 .Header1 button {
        width: 140px;
        margin-top: 10px;
    }
}


/* section3 */
.section3 {
    margin-top: 80px;
    color: #c0bfbf;
}
.section3 .second-col {
    position: relative;
    right: 180px
}


.section3 h3 {
    font-size: 50px;
    font-family: 'Eras ITC';
    font-weight: 390
}

.section3 .col h3 {
    color: #c0bfbf;
}

.section3 .col1 h3 {
    margin-left: 200px;
    color: black;
}

/* section4 */

.section4 {
    margin-top: 20px;
    padding: 0px 30px;
}
.section4 .row .col a {
    text-decoration: none;
    color: green
}

.section4 .img {
    background-color: #dad5d5;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.section4 .img img {
    width: 300px;

}

.section4 .btn {
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: yellow;
}

/* section5 */
.section5 {
    background-color: #F6F3C2;
    margin-top: 30px;
    padding: 10px 30px;
    max-height: 670px;
    align-items: stretch;
    line-height: 24px;
}

.section5 h5 {
    color: #333;
    font-size: 14px
}

.section5 a {
    color: black;
    font-weight: bold;
    font-size: 23px;
}

.section5 h1 {
    font-size: 70px;
    font-weight: 200;
    font-family: 'Bell MT';
    line-height: 55px;
    }

    .section5 p {
        font-family: "Candara";
        font-size: 25px;
    }

.section5 img {
    /* max-height: 60%; */
    max-width: 100%;
    max-height: 90%;
    object-fit: cover;
    align-items: stretch;
    border-radius: 20px;
    margin-left: 50px;
    }

    /* section6 */
    .section6 {
        background-color: #8CE4FF;
height: 50%;
        border-bottom: 1px black solid;
    }

    .section6 video {
        padding-right: 0px;
        width: 98%;
        margin-left: 18px;
    }

    .section6 .header {
        padding: 30px 20px 0px 50px;
    }

    .section6 .header h1 {
        font-size: 80px;
        word-spacing: 10px;
        font-family: 'Bell MT';
        line-height: 55px;
    }

    .section6 .header p {
        font-size: 40px;
        font-family: "Eric ITC";
        line-height: 40px;
        padding-top: 40px;
        width: 500px;
    }

    /* section7 */
    .section7 .row .col {
        border-right: 1px solid black;
        padding: 50px 40px;
    }

    .margindiv {
        margin-top: 10px;
    }

    .section7 .row .col h5 {
        color: #444;
    }

    .section7 .row .col input {
        width: 550px;
        padding: 4px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #dad5d5;
    }

    .section7 .row .col input:hover {
        background-color: #F6F3C2;
        border: none;
        outline: none;
    }

    .section7 .row .col h5 {
        color: #0e0e0e;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }

    .section7 .row .header h4 {
        font-size: 25px;
    }

    .section7 .row .header h4 a {
        text-decoration: none;
        color: black;
    }

    .section7 .row .header h4 a:hover {
        text-decoration: underline 2px solid;
    }

    /* section8 */
    .footer {
        background-color: #F6F3C2;
        padding: 30px 0px 3px 30px;

    }

    .footer h5 {
        font-size: 18px;
        font-family: 'Bell MT';
    }

    .footer li {
        list-style: none;
        font-size: 17px;
        font-family: 'Bell MT';
    }

    .footer li:hover {
        text-decoration: underline solid 1px black;
        cursor: pointer;
    }

    .list {
        position: relative;
        right: 30px;
    }