* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


/* section1 */

.section1 {
    background-color: #f8f3e8;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.section1 .row {
    padding: 20px 50px;

}

.section1 .row .col {
    padding: 0px 70px;
}

.section1 a {
    text-decoration: none;
}

.section1 .col1 {
    padding-right: 80px;
}

.section1 .col2 h3 a {
    color: #5C6F2B;
    font-family: 'forte';
}

.section1 .col2 h3 a:hover {
    color: black;
}

.section1 .col3 h3 a {
    color: #888;
    font-weight: 100;
    font-size: 20px;
}

.section1 .col3 h3 a:hover {
    text-decoration: underline 1.5px black solid;
}

/* section2 */
.section2 {
    background-image: url('../image/hero\ image.avif');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    object-fit: contain;
}

.section2 .header {
    margin-left: 400px;
    margin-top: 10px;
}

.section2 .header .col h6 {
    font-size: 14px;
    color: #D8C9A7;
    position: relative;
    top: 20px;
    left: 10px;
}

.section2 .header .col button {
    padding: 7px;
    border-radius: 90%;
    background-color: #DE802B;
    border: none;
    position: relative;
    left: 290px;
    transition: 0.4 ease;
}

.section2 .header .col button:hover {
    background-color: transparent;
    border: 2px black solid;
}

.section2 .Header1 {
    position: absolute;
    top: 280px;
    left: 70px;

}

.section2 .Header1 h6 {
    color: #D8C9A7;
}

.section2 .Header1 h1 {
    font-size: 70px;
    color:#5C6F2B;
}

.section2 .Header1 button {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #DE802B;
    color: white;
    border-radius: 20px;
    transition: 0.2s;
    width: 150px;
    }

    .section2 .Header1 button:hover {
        background-color: #5C6F2B;
    }

    /* section4 */

    .section4 {
        margin-top: 20px;
        padding: 0px 30px;
    }

    .section4 .img {
        background-color: #dad5d5;
        text-align: center;
        padding: 10px;
        border-radius: 20px;
    }

    .section4 .img img {
        width: 300px;

    }

    .section4 .btn {
        position: absolute;
        top: 30px;
        left: 20px;
        background-color: yellow;
    }

    /* section5 */
    .section5 {
        background-color: #B8CFCE;
        margin-top: 30px;
        padding: 10px 30px;
    }

    .section5 h5 {
        color: #333;
        font-size: 14px
    }

    .section5 h1 {
        font-size: 50px;
        font-weight: 200;
        font-family: 'Bell MT';
        line-height: 75px;
    }

    .section5 img {
        max-height: 70%;
        width: 400px;
   }